/* Menu Button */
#menu-btn {
  position: fixed;
  top: 18px;
  left: 18px;
  font-size: 26px;
  cursor: pointer;
  z-index: 30;

  background: #202020;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #444;

  transition: 0.3s;
}

#menu-btn:hover {
  background: #004fc5;
}

/* Sidebar Base */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;

  background: #202020;
  padding-top: 70px;

  transform: translateX(-100%);
  transition: transform 0.35s ease;

  z-index: 25;
}

/* Visible State */
.sidebar.open {
  transform: translateX(0);
}

/* Content Styling */
.sidebar h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 14px 22px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

.sidebar a:hover {
  background: #004fc5;
}

body.sidebar-open .top-header {
	left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));
	transition: 0.35s ease;
}