body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Arial, sans-serif;
}

canvas {
	z-index: 0;
	position: fixed;
}

#ui-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10;
}

.top-header {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px 20px;
	background: #3d3d3d;
	color: white;
	pointer-events: auto;
}

.dropdown {
	position: relative;
}

.dropbtn {
	border-radius: 10px;
	background-color: #222;
	color: white;
	padding: 8px 14px;
	border: 1px solid #555;
	cursor: pointer;
}

.dropdown-content {
	position: absolute;
	background-color: #333;
	min-width: 220px;
	z-index: 2;
	border-radius: 10px;

	opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-content a {
	border-radius: inherit;
	color: white;
	padding: 8px 12px;
	display: block;
	cursor: pointer;
}

.dropdown-content a:hover:not(.active-item) {
	background-color: #444;
}

.dropdown:hover .dropdown-content {
	opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a.active-item {
	background-color: #004fc5;
	font-weight: bold;
}

.camera-info {
	margin-left: auto;
	font-weight: bold;
}

.right-panel {
	width: 350px;
	background: #00000099;
	padding: 15px;
	color: white;
	pointer-events: auto;
	border-radius: 20px;
	border: 2px solid #ffffff;
}

#info-panel {
	position: absolute;
	right: 20px;
	top: 70px;
}

#extrude-info {
	position: absolute;
	right: 20px;
	top: 430px;
}

.profile-card {
	position: absolute;
	bottom: 30px;
	left: 30px;

	display: flex;
	align-items: center;
	gap: 18px;

	background: #838383;
	padding: 20px 28px;
	border-radius: 16px;

	color: black;
	pointer-events: auto;

}

.profile-card img {
	width: 150px;
	aspect-ratio: 1 / 1;
	object-fit: cover;

	border-radius: 50%;
}

.name {
	font-size: 20px;
	font-weight: 700;
	color: black;
}

.role {
	font-size: 15px;
	color: #333;
	margin-top: 4px;
}
